
ul{
    padding: 0;
    display: flex;
    gap: 40px;
   
}

@media screen and (max-width: 992px) {
    ul{
        
        flex-direction: column;
        text-align: center;
        
        
       
    }
}
